mixin storeForm(store = {})
  form(class="card" action=`/add/${store._id || ''}` method="POST")
    label(for="") Name
    input(name="name" type="text" value=store.name)
    label(for="") Description
    textArea(name="description")= store.description
    //- address, lng, and lat
    label(for="address") Address
    input(id="address" name="location[address]" type="text" value=(store.location && store.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)
    label(for="lng") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)

    //- pre= h.dump(store)

    - const choices = [ 'Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(id=choice name="tags" type="checkbox" value=choice checked=(tags.includes(choice)))
          label(for="choice") #{choice}
    input(class="button" type="submit" value="Save ->")
